.box-content {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, 0, endColorstr=#99000000, 0);
}
.acti-status {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, FF, endColorstr=#CCFFFFFF, FF);
}
.baseimg .before {
  background: transparent!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, 0, endColorstr=#4C000000, 0);
}
.baseimg:hover .before {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, 0, endColorstr=#00000000, 0);
}
.wannajoin {
  width: 194px !important;
  background: url("../images/index/join.png") no-repeat !important;
}
